html, body {
    height: 100% auto;
    width:100% auto;
    margin: 0px;
    font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color:black;
    padding: 0px;
    xoverflow: hidden;
/*     background: #ECC03C; */
	background: white;
    font-family: verdana;
	font-size: 16px;
	
}

.fieldsetTopo{
	
	height: 100px; 
	margin: 0px; 
	border: none; 
    background-color: #34495e;
    color: #1abc9c;
    margin: 0;
}

.fieldsetlogin{
	
	margin: 0px; 
	border: none; 
    background-color: #ECC03C;
    border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 0;
    
}
.links{
	color: #31ACD6;
	text-decoration: none;
	font-size: 20px;
}

.outputTitulo{
	font-size: 25px;
	color: red; 
	
}

.outputDescricao{
	font-size: 12px;
	font-family: arial;
	
}
.outputBike{
	font-size: 15px;
	color: #FF1493; 
	text-decoration: underline;
	
}

.outputValor{
	font-size: 12px;
	color: red; 
	text-decoration: inherit;
	font: bolder;
	
}


.inputSecret{
	border: none;
	
}

.fieldBikes{
	border: none;
	
}
.textoPuro{
	font-size: 11px;
	color:#34495e;
    font-family: arial;
	text-align:justify;
}

.textoNomes{
	font-size: 11px;
	color:#31ACD6;
    font-family: arial;
	text-align:justify;
}

.textoTitulo{
	font-size: 11px;
	color:#34495e;
    font-family: arial;
	text-align:justify;
}

.textoLocalizacao{
	font-size: 15px;
	color:#31ACD6;
    font-family: verdana;
	text-align:justify;
}


